<div
  class="rls-field-box rls-field-money"
  [class.rls-field-box--focused]="formControl?.focused"
  [class.rls-field-box--error]="formControl?.wrong"
  [class.rls-field-box--disabled]="disabledInput"
>
  @if (label) {
    <label class="rls-field-box__label">
      <ng-content />
    </label>
  }

  <div class="rls-field-box__component">
    <div class="rls-field-box__body">
      <rls-input-money
        [formControl]="formControl"
        [placeholder]="placeholder"
        [decimals]="decimals"
        [readonly]="readonly"
        [disabled]="disabled"
        [symbol]="symbol"
        (value)="onValue($event)"
      >
      </rls-input-money>
    </div>
  </div>

  <rls-message-form-error
    className="rls-field-box__error"
    [formControl]="formControl"
  >
  </rls-message-form-error>
</div>
