<div class="rls-picker-date">
  <div class="rls-picker-date__header">
    <div class="rls-picker-date__title rls-picker-date__title--description">
      <span (click)="onVisibilityDay()">
        {{ title }}
      </span>
    </div>

    <div class="rls-picker-date__title rls-picker-date__title--year">
      <span (click)="onVisibilityYear()">
        {{ dateGroup.year.value }}
      </span>
    </div>

    <rls-picker-month-title
      [monthControl]="dateGroup.month"
      [yearControl]="dateGroup.year"
      (title)="onVisibilityMonth()"
      [date]="value"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [disabled]="visibility === 'YEAR'"
    >
    </rls-picker-month-title>
  </div>

  <div class="rls-picker-date__component">
    <rls-picker-day
      [class.hidden]="visibility !== 'DAY'"
      [formControl]="dateGroup.day"
      [date]="value"
      [year]="dateGroup.year.value"
      [month]="dateGroup.month.value"
      [minDate]="minDate"
      [maxDate]="maxDate"
    >
    </rls-picker-day>

    <rls-picker-month
      [class.hidden]="visibility !== 'MONTH'"
      [formControl]="dateGroup.month"
      [date]="value"
      [year]="dateGroup.year.value"
      [minDate]="minDate"
      [maxDate]="maxDate"
    >
    </rls-picker-month>

    <rls-picker-year
      [class.hidden]="visibility !== 'YEAR'"
      [formControl]="dateGroup.year"
      [date]="value"
      [minDate]="minDate"
      [maxDate]="maxDate"
    >
    </rls-picker-year>
  </div>

  @if (!automatic) {
    <div class="rls-picker-date__footer">
      <div class="rls-picker-date__actions">
        <div class="rls-picker-date__actions--cancel">
          <button rls-button="outline" (click)="onCancel()">
            <span>Cancelar</span>
          </button>
        </div>

        <div class="rls-picker-date__actions--today">
          <button rls-button="outline" (click)="onToday()">
            <span>Hoy</span>
          </button>
        </div>

        <div class="rls-picker-date__actions--ok">
          <button rls-button="raised" (click)="onSelect()">
            <span>Establecer</span>
          </button>
        </div>
      </div>
    </div>
  }
</div>
