<div class="rls-app__body">
  <section class="rls-app__page">
    <section class="rls-app__page__content">
      <rls-field-text [formControl]="formControl" rls-theme="success">
        Nombre completo
      </rls-field-text>
      <rls-field-money
        [formControl]="formNumber"
        [decimals]="true"
        rls-theme="warning"
      >
        Salario
      </rls-field-money>
      <rls-amount [value]="106564"></rls-amount>
      <button (click)="onClick()">Saber valor</button>
      <label class="caption-bold">{{ name() }}</label>
    </section>
  </section>
</div>
