.home-app {
  display: flex;
  flex-direction: column;
  row-gap: var(--rls-sizing-x8);
  padding: var(--rls-sizing-x8);
  box-sizing: border-box;

  &__row {
    display: flex;
    align-items: center;
    column-gap: var(--rls-sizing-x4);
  }
}
