<div
  class="rls-field-box rls-field-password"
  [class.rls-field-box--focused]="formControl?.focused"
  [class.rls-field-box--error]="formControl?.wrong"
  [class.rls-field-box--disabled]="disabledInput"
>
  @if (label) {
    <label class="rls-field-box__label">
      <ng-content />
    </label>
  }

  <div class="rls-field-box__component">
    <div class="rls-field-box__body">
      <rls-input-password
        [formControl]="formControl"
        [type]="itIsPasswordVisible ? 'password' : 'text'"
        [placeholder]="placeholder"
        [readonly]="readonly"
        [disabled]="disabled"
        (value)="onValue($event)"
      >
      </rls-input-password>

      <button
        [rls-button-action]="itIsPasswordVisible ? 'eye' : 'eye-off'"
        (click)="onAction()"
        [disabled]="disabled"
      ></button>
    </div>
  </div>

  <rls-message-form-error
    className="rls-field-box__error"
    [formControl]="formControl"
  >
  </rls-message-form-error>
</div>
